body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.screen{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8e8e8, #c1c1c1 )
}

.keyboard {  
    margin-left: 30px;
    background-color: #403A3A;
    
}

.keyboard-line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.keyboard-button {
    width: 70px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #999;
}

.btn-white {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
}

.btn-corrige {
    background-color: #f09046;
    color: #000;
    font-size: 15px;
}

.btn-confirm {
    background-color: #48c079;
    color: #FFF;
    font-size: 15px;
    width: 90px;
    height: 50px;
}